@model QuanLiPhongTro.Models.SuDungDichVu

@{
    ViewData["Title"] = "Thêm mới sử dụng dịch vụ";
}

<h1>Thêm mới sử dụng dịch vụ</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PhongId" class="control-label"></label>
                <select asp-for="PhongId" class="form-control" asp-items="ViewBag.PhongId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DichVuId" class="control-label"></label>
                <select asp-for="DichVuId" class="form-control" asp-items="ViewBag.DichVuId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ThangNam" class="control-label"></label>
                <input asp-for="ThangNam" class="form-control" type="month" />
                <span asp-validation-for="ThangNam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChiSoCu" class="control-label"></label>
                <input asp-for="ChiSoCu" class="form-control" />
                <span asp-validation-for="ChiSoCu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChiSoMoi" class="control-label"></label>
                <input asp-for="ChiSoMoi" class="form-control" />
                <span asp-validation-for="ChiSoMoi" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Thêm" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}